:root {
    --title-color: #322153;
    --primary-color: #34cb79;
    --hover-color: #2FB86E;
    --items-color: #E1FAEC;
}

* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}